version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
  backend:
    build: ./backend
    ports:
      - '8080:8080'
    depends_on:
      - ml_service
  ml_service:
    build: ./ml_service
    ports:
      - '8000:8000'
