version: '3.8'

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: auraldine-backend
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False
      - MODEL_PATH=ml/models/cnn_bn_final.pt
    volumes:
      - ../backend:/app
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: auraldine-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  backend_data:
